@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --orange: orange;
    --black: #130f40;
    --light-color: #666;
    --yellow-400: lightsalmon;
    --yellow-300: yellow;
    --yellow-200: lightgoldenrodyellow;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, 1);
    --outline: .1rem solid rgba(0, 0, 0, 1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 82.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.btn:hover {
    background: #130f40!important;
    color: #fff!important;
}
.container .row h1 {
    color: var(--orange);
}

.title {
    color: var(--orange);
    font-size: 2rem;
}

.orange-400 {
    background: var(--orange);
}

.orange-300 {
    background: var(--yellow-400);
}

.orange-200 {
    background: var(--yellow-300);
}

.orange-100 {
    background: var(--yellow-200);
}

.card .orange-400 {
    background: var(--orange);
}

.card .orange-300 {
    background: var(--yellow-400);
}

.card .orange-200 {
    background: var(--yellow-300);
}

.card .btn {
    font-size: 1.4rem;
    font-weight: bold;
}

.card-body h3 {
    color: var(--orange);
    font-size: 1.2rem;
    font-weight: bold;
}

.card-body .description {
    height: 3rem;
    font-size: 1.2rem;
}

.card-body .images {
    width: 100%;
    height: 200px;
}

.card-body p {
    font-size: 1.2rem;
}

#order .btn {
    background:#fd7e14!important;
    font-size: 1.4rem;
    font-weight: bold;
}
.w-200{
    width: 200px;
}